<!-- extends tells Jinja to replace blocks from the 'base.html' template -->
{% extends 'base.html' %} {% block header %}
<!-- here we set the block title within the header, setting the title block and sending the output the the h1 element --!>
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="username">Username</label>
  <input name="username" id="username" required />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <input type="submit" value="Register" />
</form>
{% endblock %}
